<ion-header>
    <ion-toolbar color="chang">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>เลือกอาหาร</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-item *ngFor="let item of data">
            <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="{{ image_part }}{{ item.image }}" />
            </ion-thumbnail>
            <ion-label>
                {{ item.pro_name }}
                <div>
                    {{ item.price }} บาท
                </div>
            </ion-label>
            <ion-button slot="end" size="large" fill="clear" color="success" (click)="Add(item)">
                <ion-icon slot="icon-only" name="cart"></ion-icon>
            </ion-button>
        </ion-item>
    </div>
</ion-content>