<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            หน้าแรก
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <!-- <input type="text" [(ngModel)]="num1">
    <input type="text" [(ngModel)]="num2">

    <ion-button (click)="Logout()">ออกจากระบบ</ion-button>
    <ion-button (click)="Test1()">Test 1</ion-button>
    <ion-button (click)="Test2()">Test 2</ion-button>
    <ion-button (click)="Test3()">Test 3</ion-button> -->

    ยินดีต้อนรับคุณ .... {{ auth.staff_name }} {{ auth.staff_lname }}
    <ion-button (click)="Logout()">ออกจากระบบ</ion-button>
</ion-content>
